.container-fluid {
    width: 100%;
}

.container {
    max-width: 950px;
    margin: 0 auto;
}

.row{
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(12, 1fr);
}

.col-1{grid-column-end: span 1;}
.col-3{grid-column-end: span 3;}
.col-4{grid-column-end: span 4;}
.col-6{grid-column-end: span 6;}
.col-8{grid-column-end: span 8;}
.col-12{grid-column-end: span 12;}

.col-1, .col-3, .col-4, .col-6, .col-8, .col-12{
  box-sizing: border-box;
  padding: 10px;
} 

@media (max-width: 900px){
  .row {
    display: inherit;
  }

  .col-1, .col-3, .col-4, .col-6{
    grid-column-end: span 6;
  }

  .col-8, .col-12{
    grid-column-end: span 12;
  }
  
  .container {
    padding-left: 15px;
  }
}

@media (max-width: 375px){
  .row {
    display: inherit;
  }

  .col-1, .col-3, .col-4, .col-6, .col-8, .col-12{
    grid-column-end: span 12;
  } 
  
  .container {
    padding-left: 15px;
  }
}