.fondo-banner{

	/*background-image: url("../img/banner.jpg");*/
	background-color: rgba(0,0,0,0.8);
	background-size: 100% auto;	
	color:white;
	opacity: 0.95;

}
.footer {
	background-color: #40474e;
	color: white;
}